:root {
    /**
     * colors
     */
  
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(214, 100%, 50%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);
  
    /**
     * typography
     */
  
    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;
  
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
  
    /**
     * border-radius
     */
  
    --border-radius-md: 10px;
    --border-radius-sm: 5px;
  
    /**
     * transition 
     */
  
    --transition-timing: 0.2s ease;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
}

.container header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.container header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}

.container form {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 16px;
    background-color: #fff;
}

.container form .form {
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
    width: 50%;
}

.container form .form.second {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
.second{
    top: 50px;
}
form.secActive .form.second {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

form.secActive .form.first {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.container form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

form .fields .input-field {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 4px 0;
}

.input-field label {
    font-size: 15px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input, select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input:focus,
.input-field select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field select,
.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333;
}

.container form button,
.backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    /* max-width: 200px; */
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.details .login-choices .submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    color: var(--eerie-black);
    background:transparent;
    border: var(--onyx) 1px solid ;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.container form .btnText {
    font-size: 14px;
    font-weight: 400;
}

form button:hover {
    background-color: var(--salmon-pink);
}
.fields-OAuth .gotologin{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    background:transparent;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.input-field .gotologin a{
    color: var(--salmon-pink);
}
.fields-OAuth .nextBtn{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.details .title-o{
padding: 5px;
display: flex;
justify-content: center;
}
legend{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    color: var(--onyx);
}
.input-field {
    margin-bottom: 15px;
    position: relative;
}
.toggle-password {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 62%;
    transform: translateY(-50%);
}
@media (max-width: 750px) {
   
}

@media (max-width: 550px) {

}
